body {
  background-color:rgba(227, 217, 187, 0.4);
}

nav {
  background-color:transparent !important;
  box-shadow:0px !important;
}

nav ul li a {
  color:#7f8c8d;
}

 nav {
   border-bottom:2px solid black;
 }

 h6 {
   font-size:17px;
   font-weight:bold;
 }

.logo-left {
  margin-left:200px;
  margin-top:25px;
}

.carousel-one {
  background-image:url('/img/temp/Responsive_design.jpg') no-repeat;
}

/*.container {
  border:1px solid red !important;
}*/
